figure {margin: 0; }

#face {
  perspective: 20cm;
  max-width: max-content;
  margin: 2rem auto;
  position: relative;
  font-size: 10rem;
}

#lhand, #rhand {
  font-size: 5rem;
  position: absolute;
}

#lhand {
  left: -2.5rem;
  bottom: -2rem;
}

#rhand {
  right: -2.5rem;
  bottom: -2rem;
  transform: rotateY(0.5turn);
}

@keyframes wink {
  from {
    transform: rotateZ(-20deg);
  }
  
  to {
    transform: rotateZ(20deg);
  }
}

#lhand > figcaption, #rhand > figcaption {
  animation: wink 1s infinite alternate ease-in-out;
}

#face > figcaption {
  transform-origin: bottom center;
  animation: wink 3s infinite alternate ease-in-out;
}