figure {margin: 0; }

#face {
  perspective: 20cm;
  max-width: max-content;
  margin: 2rem auto;
  position: relative;
  font-size: 10rem;
}

#lhand, #rhand {
  font-size: 5rem;
  position: absolute;
}
